<footer class="py-5">
  <div class="text-center text-muted">
    <%= current_year %> by Denis Sivolap, <%= github_url('cmondi18', 'thinknetica-test-guru') %>
  </div>
  <div class="text-center text-muted">
    This is study project by <%= link_to 'Thinknetica', 'https://thinknetica.com/', target: '_blank' %>
  </div>
</footer>