<br>
<div>
  <%= current_year %>
</div>
<div>
  Denis Sivolap
</div>
<div>
  <%= github_url('cmondi18', 'thinknetica-test-guru') %>
</div>
<div>
  This is study project by <%= link_to 'Thinknetica', 'https://thinknetica.com/', target: '_blank' %>
</div>